@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
	background-color: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}
